.block_1_button {
  border-bottom: 2px solid #fff;
  overflow: hidden;
  transform: scaleX(0);
}

.block_1_button_txt {
  transform: translateY(250%);
}

/* .block_1:hover {
  background-color: rgba(134, 144, 223, 0.9);
} */

.block_1:hover .block_1_txt {
  color: #fff;
}

.block_1:hover .block_1_button {
  transform: scaleX(1);
}

.block_1:hover .block_1_button_txt {
  transform: translateY(0%);
}

.tran_03s {
  transition: all 0.3s;
}

.tran_04s {
  transition: all 0.4s;
}

.tran_05s {
  transition: all 0.5s;
}

.tran_09s {
  transition: all 0.9s;
}
